__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
poetry.lock
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
*.swp
*.session.json
*.log
logs/
*.db
*.spec
*.exe
Thumbs.db
.DS_Store
.claude
CLAUDE.md
GEMINI.md
docs/
